html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/images/login_bg.jpg') no-repeat center;
  background-size: cover;
}

.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.title-box {
  height: 60px;
  background: url('/assets/images/login_title.png') no-repeat center;
}
.reg-box {
  display: none;
}

.layui-form {
  padding: 0 30px;
}

.links {
  display: flex;
  justify-content: flex-end;    /* 横向布局 居右 */

}

.links a {
  font-size: 12px;
}

.layui-form-item {
  position: relative;
}

.layui-icon {
  /* 设置输入框前图标的位置。子绝父相，就能把图标移到文本框里面 */
  position: absolute;
  left: 10px;
  top: 10px;
}

.layui-input {
  /* 因为文本框里的placeholder和图标重叠了，所以给个距离 */
  padding-left: 32px;
}

#__bs_notify__
{display: none !important;}